<a href="https://colab.research.google.com/github/abhishek-hawaldar/datasci_stats/blob/main/lab3_Preprocessing/%20Preprocess_PlayStore_DS_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("HI")

HI

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
print("hi")

hi

***

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/abhishek-hawaldar/datasci_stats/main/lab3_Preprocessing/googleplaystore.csv")
df.head()
print(df.shape)
df.columns

(10841, 13)

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

***

In [ ]:
df=df.drop(['Last Updated', 'Content Rating'], axis=1)

In [ ]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Genres', 'Current Ver', 'Android Ver'],
      dtype='object')

In [ ]:
df.shape

(10841, 11)

In [ ]:
df.isna().sum()

App               0
Category          0
Rating         1474
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Genres            0
Current Ver       8
Android Ver       3
dtype: int64

In [ ]:

print(np.where(df.isna()==True))

# first arr shows row of null value and second arr shows column index where null val

(array([   15,    23,   113, ..., 10831, 10835, 10838]), array([9, 2, 2, ..., 2, 2, 2]))

In [ ]:
df.loc[15]

App            Learn To Draw Kawaii Characters
Category                        ART_AND_DESIGN
Rating                                     3.2
Reviews                                     55
Size                                      2.7M
Installs                                5,000+
Type                                      Free
Price                                        0
Genres                            Art & Design
Current Ver                                NaN
Android Ver                         4.2 and up
Name: 15, dtype: object

In [ ]:

dropdf=df.dropna()
dropdf.isna().sum()

App            0
Category       0
Rating         0
Reviews        0
Size           0
Installs       0
Type           0
Price          0
Genres         0
Current Ver    0
Android Ver    0
dtype: int64

In [ ]:
print(df.shape)
print(dropdf.shape)

(10841, 11)
(9360, 11)

In [ ]:
df.dtypes

App             object
Category        object
Rating         float64
Reviews         object
Size            object
Installs        object
Type            object
Price           object
Genres          object
Current Ver     object
Android Ver     object
dtype: object

In [ ]:
#df.Reviews = df.Reviews.astype('int64') #Changing to int type.

In [ ]:
print(df.isna().sum())

App               0
Category          0
Rating         1474
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Genres            0
Current Ver       8
Android Ver       3
dtype: int64

In [ ]:

# Replacing rows with  null rating as mean rating 

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(df.iloc[:, 2:3])
df.iloc[:, 2:3] = imputer.transform(df.iloc[:, 2:3])
print(df)

                                                     App  ...         Android Ver
0         Photo Editor & Candy Camera & Grid & ScrapBook  ...        4.0.3 and up
1                                    Coloring book moana  ...        4.0.3 and up
2      U Launcher Lite – FREE Live Cool Themes, Hide ...  ...        4.0.3 and up
3                                  Sketch - Draw & Paint  ...          4.2 and up
4                  Pixel Draw - Number Art Coloring Book  ...          4.4 and up
...                                                  ...  ...                 ...
10836                                   Sya9a Maroc - FR  ...          4.1 and up
10837                   Fr. Mike Schmitz Audio Teachings  ...          4.1 and up
10838                             Parkinson Exercices FR  ...          2.2 and up
10839                      The SCP Foundation DB fr nn5n  ...  Varies with device
10840      iHoroscope - 2018 Daily Horoscope & Astrology  ...  Varies with device

[10841 rows x 11 columns]

In [ ]:
print(df.isna().sum())

App            0
Category       0
Rating         0
Reviews        0
Size           0
Installs       0
Type           1
Price          0
Genres         0
Current Ver    8
Android Ver    3
dtype: int64

In [ ]:
print('number',df.duplicated().sum())
print(np.where(df.duplicated()==True))

number 485
(array([  229,   236,   239,   256,   261,   265,   266,   267,   268,
         269,   270,   271,   272,   273,   274,   275,   276,   277,
         278,   279,   280,   281,   282,   283,   284,   286,   287,
         288,   289,   290,   291,   292,   296,   381,   394,   396,
         414,   430,   431,   465,   466,   468,   469,   472,   473,
         474,   475,   542,   543,   544,   545,   547,   548,   549,
         550,   551,   553,   554,   556,   557,   558,   560,   561,
         562,   586,   588,   665,   666,   667,   668,   671,   672,
         676,   677,   678,   680,   681,   682,   683,   685,   687,
         690,   695,   696,   738,   739,   746,   757,   782,   783,
         785,   786,   787,   788,   792,   794,   799,   806,   819,
         826,   828,   830,   831,   833,   836,   840,   842,   845,
         846,   847,   898,   904,   930,   934,   935,   936,   937,
         939,   940,   943,   944,   946,   947,   951,   959,   961,
         962,   963,   964,   965,   966,   967,   968,   970,   972,
         975,   977,   978,   979,   980,   981,   982,   983,   984,
         985,   988,   992,   993,  1096,  1100,  1136,  1142,  1149,
        1155,  1239,  1241,  1242,  1324,  1346,  1347,  1372,  1373,
        1374,  1381,  1383,  1384,  1385,  1388,  1404,  1405,  1406,
        1407,  1409,  1410,  1413,  1414,  1415,  1416,  1417,  1418,
        1419,  1420,  1421,  1422,  1424,  1430,  1434,  1436,  1441,
        1443,  1444,  1445,  1502,  1503,  1504,  1505,  1506,  1507,
        1511,  1611,  1616,  1626,  1628,  1629,  1630,  1631,  1632,
        1704,  1717,  1725,  1751,  1756,  1759,  1760,  1778,  1797,
        1865,  1917,  1921,  1922,  1925,  1935,  1949,  1966,  1967,
        1968,  1981,  1987,  2000,  2004,  2065,  2089,  2090,  2132,
        2133,  2135,  2184,  2193,  2194,  2195,  2196,  2197,  2198,
        2199,  2200,  2201,  2202,  2203,  2204,  2205,  2211,  2219,
        2220,  2222,  2227,  2229,  2232,  2234,  2365,  2366,  2367,
        2372,  2378,  2380,  2385,  2386,  2387,  2389,  2395,  2398,
        2399,  2400,  2401,  2402,  2406,  2407,  2409,  2416,  2418,
        2419,  2420,  2486,  2488,  2494,  2495,  2498,  2499,  2502,
        2505,  2507,  2512,  2516,  2517,  2518,  2521,  2529,  2537,
        2543,  2587,  2611,  2612,  2623,  2627,  2630,  2634,  2635,
        2643,  2645,  2647,  2648,  2650,  2652,  2653,  2723,  2724,
        2725,  2726,  2731,  2732,  2737,  2738,  2739,  2743,  2745,
        2747,  2748,  2749,  2750,  2752,  2755,  2757,  2767,  2769,
        2770,  2773,  2774,  2775,  2776,  2777,  2778,  2779,  2780,
        2781,  2782,  2783,  2784,  2789,  2793,  2794,  2797,  2857,
        2867,  2885,  2886,  2887,  2888,  2898,  2899,  2904,  2912,
        2925,  2950,  2957,  3007,  3010,  3011,  3012,  3013,  3014,
        3015,  3018,  3019,  3020,  3022,  3037,  3047,  3060,  3061,
        3063,  3064,  3066,  3067,  3071,  3072,  3079,  3080,  3081,
        3085,  3088,  3090,  3091,  3094,  3097,  3098,  3099,  3100,
        3118,  3170,  3173,  3174,  3175,  3179,  3185,  3187,  3188,
        3192,  3200,  3202,  3203,  3205,  3206,  3207,  3211,  3213,
        3214,  3221,  3222,  3398,  3424,  3435,  3507,  3510,  3525,
        3545,  3549,  3556,  3565,  3765,  3767,  3780,  3785,  3790,
        3792,  3796,  3800,  3801,  3802,  3804,  3806,  3807,  3808,
        3809,  3811,  3814,  3815,  3818,  3965,  3971,  4039,  4095,
        4096,  4104,  4123,  4222,  4234,  4441,  5147,  5537,  5958,
        5989,  6584,  6585,  6590,  6593,  6594,  6595,  6598,  6911,
        7030,  7035,  7628,  7885,  8628,  8630,  8632,  8635,  8636,
        8639,  8642,  8643,  8654,  8658, 10049, 10473, 10768]),)

In [ ]:
df.loc[244]
#print(df.loc[217],df.loc[224],df.loc[227], df.loc[244])

App            HipChat - Chat Built for Teams
Category                             BUSINESS
Rating                                    3.8
Reviews                                  5868
Size                                      20M
Installs                             500,000+
Type                                     Free
Price                                       0
Genres                               Business
Current Ver                          3.19.005
Android Ver                        4.1 and up
Name: 244, dtype: object

In [ ]:
#df.loc[244]
df[df['App']=='HipChat - Chat Built for Teams']

                                App  Category  ...  Current Ver Android Ver
244  HipChat - Chat Built for Teams  BUSINESS  ...     3.19.005  4.1 and up
273  HipChat - Chat Built for Teams  BUSINESS  ...     3.19.005  4.1 and up

[2 rows x 11 columns]

In [ ]:
df.shape

(10841, 11)

In [ ]:
#df.info

In [ ]:
df=df.drop_duplicates()

print(df.shape)

(10356, 11)

In [ ]:
## getting everything clear
df=df.dropna()
print(df.isna().sum())
print(df.shape)

App            0
Category       0
Rating         0
Reviews        0
Size           0
Installs       0
Type           0
Price          0
Genres         0
Current Ver    0
Android Ver    0
dtype: int64
(10344, 11)

In [ ]:
#Changing the feature : Size
newSize = []

for row in df.Size:
    newrow = row[:-1]
    try:
        newSize.append(float(newrow))
    except:
        newSize.append(0) #When it says - Size Varies.
    
df.Size = newSize

df.Size.head()

0    19.0
1    14.0
2     8.7
3    25.0
4     2.8
Name: Size, dtype: float64

In [ ]:
#Changing the feature, Android Ver
newVer = []

for row in df['Android Ver']:
    try:
        newrow = float(row[:2])
    except:
        newrow = 0  # When the value is - Varies with device
    
    newVer.append(newrow)
    
df['Android Ver'] =  newVer

df['Android Ver'].value_counts()

4.0    6693
2.0    1332
0.0    1220
5.0     571
3.0     282
1.0     136
6.0      58
7.0      46
8.0       6
Name: Android Ver, dtype: int64

In [ ]:
#df['Type']

In [ ]:
df.dtypes

App             object
Category        object
Rating         float64
Reviews         object
Size           float64
Installs        object
Type            object
Price           object
Genres          object
Current Ver     object
Android Ver    float64
dtype: object

In [ ]:
x=df[['App','Category','Rating','Type']]
print(x)
#x[x['Type']=='0']
#x=x.drop([10472])

                                                     App  ...  Type
0         Photo Editor & Candy Camera & Grid & ScrapBook  ...  Free
1                                    Coloring book moana  ...  Free
2      U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  Free
3                                  Sketch - Draw & Paint  ...  Free
4                  Pixel Draw - Number Art Coloring Book  ...  Free
...                                                  ...  ...   ...
10836                                   Sya9a Maroc - FR  ...  Free
10837                   Fr. Mike Schmitz Audio Teachings  ...  Free
10838                             Parkinson Exercices FR  ...  Free
10839                      The SCP Foundation DB fr nn5n  ...  Free
10840      iHoroscope - 2018 Daily Horoscope & Astrology  ...  Free

[10344 rows x 4 columns]

In [ ]:
#print(df.isna().sum())

In [ ]:
x.groupby('Type').size()

Type
Free    9582
Paid     762
dtype: int64

In [ ]:
list(x['Type'])
print("hi")

hi
                                                     App  ... Android Ver
0         Photo Editor & Candy Camera & Grid & ScrapBook  ...         4.0
1                                    Coloring book moana  ...         4.0
2      U Launcher Lite – FREE Live Cool Themes, Hide ...  ...         4.0
3                                  Sketch - Draw & Paint  ...         4.0
4                  Pixel Draw - Number Art Coloring Book  ...         4.0
...                                                  ...  ...         ...
10836                                   Sya9a Maroc - FR  ...         4.0
10837                   Fr. Mike Schmitz Audio Teachings  ...         4.0
10838                             Parkinson Exercices FR  ...         2.0
10839                      The SCP Foundation DB fr nn5n  ...         0.0
10840      iHoroscope - 2018 Daily Horoscope & Astrology  ...         0.0

[10344 rows x 11 columns]

In [ ]:
## Label Encoding
from sklearn.preprocessing import LabelEncoder
l1 = LabelEncoder()
l1.fit(list(x['Type']))
x.Type= l1.transform(x.Type)
print(x)

                                                     App  ... Type
0         Photo Editor & Candy Camera & Grid & ScrapBook  ...    0
1                                    Coloring book moana  ...    0
2      U Launcher Lite – FREE Live Cool Themes, Hide ...  ...    0
3                                  Sketch - Draw & Paint  ...    0
4                  Pixel Draw - Number Art Coloring Book  ...    0
...                                                  ...  ...  ...
10836                                   Sya9a Maroc - FR  ...    0
10837                   Fr. Mike Schmitz Audio Teachings  ...    0
10838                             Parkinson Exercices FR  ...    0
10839                      The SCP Foundation DB fr nn5n  ...    0
10840      iHoroscope - 2018 Daily Horoscope & Astrology  ...    0

[10344 rows x 4 columns]

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
x[x['Type']==1]

                                                 App  ... Type
234    TurboScan: scan documents and receipts in PDF  ...    1
235                   Tiny Scanner Pro: PDF Doc Scan  ...    1
427                               Puffin Browser Pro  ...    1
476                        Moco+ - Chat, Meet People  ...    1
477                                       Calculator  ...    1
...                                              ...  ...  ...
10735                                    FP VoiceBot  ...    1
10760                                Fast Tract Diet  ...    1
10782                        Trine 2: Complete Story  ...    1
10785                                   sugar, sugar  ...    1
10798                           Word Search Tab 1 FR  ...    1

[762 rows x 4 columns]

In [ ]:
#One Hot Encoding

#1.DataFrame.get_dummies
yz = x.iloc[:, 1:]
#print(df)
ddf=pd.get_dummies(data=yz)
print(ddf)

         Rating  Type  ...  Category_VIDEO_PLAYERS  Category_WEATHER
0      4.100000     0  ...                       0                 0
1      3.900000     0  ...                       0                 0
2      4.700000     0  ...                       0                 0
3      4.500000     0  ...                       0                 0
4      4.300000     0  ...                       0                 0
...         ...   ...  ...                     ...               ...
10836  4.500000     0  ...                       0                 0
10837  5.000000     0  ...                       0                 0
10838  4.193338     0  ...                       0                 0
10839  4.500000     0  ...                       0                 0
10840  4.500000     0  ...                       0                 0

[10344 rows x 35 columns]

In [ ]:
ddf[ddf['Category_ART_AND_DESIGN']==1]

        Rating  Type  ...  Category_VIDEO_PLAYERS  Category_WEATHER
0     4.100000     0  ...                       0                 0
1     3.900000     0  ...                       0                 0
2     4.700000     0  ...                       0                 0
3     4.500000     0  ...                       0                 0
4     4.300000     0  ...                       0                 0
...        ...   ...  ...                     ...               ...
7174  4.193338     0  ...                       0                 0
8679  4.200000     0  ...                       0                 0
8712  4.300000     0  ...                       0                 0
8871  4.193338     0  ...                       0                 0
8888  5.000000     0  ...                       0                 0

[64 rows x 35 columns]

In [ ]:
#2Using OneHotEncoder from Sci-Kit Learn
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

dpf = x.iloc[:, 1:2]
#print(dpf)
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = pd.DataFrame(ct.fit_transform(dpf))
#print(X)
X

                    0
0         (0, 0)\t1.0
1         (0, 0)\t1.0
2         (0, 0)\t1.0
3         (0, 0)\t1.0
4         (0, 0)\t1.0
...               ...
10339    (0, 11)\t1.0
10340    (0, 11)\t1.0
10341    (0, 20)\t1.0
10342     (0, 3)\t1.0
10343    (0, 18)\t1.0

[10344 rows x 1 columns]

In [ ]:
#print(df)
x=df[['App','Category','Rating','Type']]
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = x.iloc[:, -1].values
print(y)
y = le.fit_transform(y)
print(y)

['Free' 'Free' 'Free' ... 'Free' 'Free' 'Free']
[0 0 0 ... 0 0 0]

In [ ]:
dpf = x.iloc[:, :-1]
Xyz = x.iloc[:, :-1].values
print('Rating range',min(dpf.Rating),'-',max(dpf.Rating))

Rating range 1.0 - 5.0

***